
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }  
  .part1
  {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: baseline;
    background-color: black;
    color: white;
    
  }
  .part2
  {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: baseline;
    background-color: black;
    color: white;
    
  }
  .part3
  {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: baseline;
    background-color: black;
    color: white;
    
    
  }
  .content1
  {
    font-size: x-large;
    padding: 30px;
  }
  .content2
  {
    font-size: x-large;
    padding: 30px;
  }
  .content3
  {
    font-size: x-large;
    padding: 30px;
  }
 